<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Cab Management | 404</title>
</head>
<body>
    <h2>Page doesn't exist. Redirecting back to homepage...</h2>
    <script>
        setTimeout(function () {
           // after 2 seconds
           window.location = "/";
        }, 2000)
      </script>
</body>
</html>