<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Document</title>
</head>
<body>
    <form action="/add-cab-data" method="post">
        <label for="hall">Hall</label>
        <input type="text" name="hall">
        <label for="time">Time of Leaving</label>
        <input type="text" name="time">
        <label for="place">Place of Leaving</label>
        <input type="text" name="place">
        <input type="submit" value="Add Data">
    </form>
    <a href="/">Return back to homepage</a>
</body>
</html>